In [3]:
# Import dependencies
import pandas as pd
import numpy as np
import os 

file = os.path.join('MidwestMurderData.csv')
midwest_homicide_df = pd.read_csv(file)
midwest_homicide_df.head()

,index,ID,CNTYFIPS,Ori,State,Agency,Agentype,Source,Solved,Year,...,OffEthnic,Weapon,Relationship,Circumstance,Subcircum,VicCount,OffCount,FileDate,fstate,MSA
0,189,197601001IA00801,"Boone, IA",IA00801,Iowa,Boone,Municipal police,FBI,No,1976,...,Unknown or not reported,Knife or cutting instrument,Relationship not determined,Other arguments,NaN,0,0,30180.0,Iowa,Rural Iowa
1,190,197601001IA04400,"Henry, IA",IA04400,Iowa,Henry County,Sheriff,FBI,Yes,1976,...,Unknown or not reported,"Handgun - pistol, revolver, etc",Acquaintance,Robbery,NaN,0,0,30180.0,Iowa,Rural Iowa
2,191,197601001IA05202,"Johnson, IA",IA05202,Iowa,Iowa City,Municipal police,FBI,Yes,1976,...,Unknown or not reported,"Handgun - pistol, revolver, etc",Acquaintance,Other arguments,NaN,0,0,30180.0,Iowa,"Iowa City, IA"
3,192,197601001IA05701,"Linn, IA",IA05701,Iowa,Cedar Rapids,Municipal police,FBI,Yes,1976,...,Unknown or not reported,"Handgun - pistol, revolver, etc",Husband,Other arguments,NaN,0,0,30180.0,Iowa,"Cedar Rapids, IA"
4,193,197601001IA05703,"Linn, IA",IA05703,Iowa,Hiawatha,Municipal police,FBI,Yes,1976,...,Unknown or not reported,"Handgun - pistol, revolver, etc",Stranger,Brawl due to influence of alcohol,NaN,0,0,30180.0,Iowa,"Cedar Rapids, IA"

In [4]:
# Amber Start

In [5]:
# Amber End

In [6]:
# Eric Start

In [7]:
mg = midwest_homicide_df.groupby(['Year']).count()
mg

,index,ID,CNTYFIPS,Ori,State,Agency,Agentype,Source,Solved,StateName,...,OffEthnic,Weapon,Relationship,Circumstance,Subcircum,VicCount,OffCount,FileDate,fstate,MSA
Year,,,,,,,,,,,,,,,,,,,,,
1976,4209,4209,4209,4209,4209,4209,4209,4209,4209,4209,...,4209,4209,4209,4209,243,4209,4209,4209,4209,4209
1977,4081,4081,4081,4081,4081,4081,4081,4081,4081,4081,...,4081,4081,4081,4081,185,4081,4081,4081,4081,4081
1978,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019,...,4019,4019,4019,4019,147,4019,4019,4019,4019,4019
1979,4567,4567,4567,4567,4567,4567,4567,4567,4567,4567,...,4567,4567,4567,4567,246,4567,4567,4567,4567,4567
1980,4670,4670,4670,4670,4670,4670,4670,4670,4670,4670,...,4670,4670,4670,4670,243,4670,4670,4670,4670,4670
1981,4353,4353,4353,4353,4353,4353,4353,4353,4353,4353,...,4353,4353,4353,4353,215,4353,4353,4353,4353,4353
1982,4000,4000,4000,4000,4000,4000,4000,4000,4000,4000,...,4000,4000,4000,4000,189,4000,4000,4000,4000,4000
1983,3765,3765,3765,3765,3765,3765,3765,3765,3765,3765,...,3765,3765,3765,3765,141,3765,3765,3765,3765,3765
1984,2750,2750,2750,2750,2750,2750,2750,2750,2750,2750,...,2750,2750,2750,2750,79,2750,2750,2750,2750,2750
1985,2986,2986,2986,2986,2986,2986,2986,2986,2986,2986,...,2986,2986,2986,2986,94,2986,2986,2986,2986,2986
1986,3658,3658,3658,3658,3658,3658,3658,3658,3658,3658,...,3658,3658,3658,3658,101,3658,3658,3658,3658,3658
1987,3178,3178,3178,3178,3178,3178,3178,3178,3178,3178,...,3178,3178,3178,3178,70,3178,3178,3178,3178,3178
1988,3741,3741,3741,3741,3741,3741,3741,3741,3741,3741,...,3741,3741,3741,3741,92,3741,3741,3741,3741,3741
1989,3891,3891,3891,3891,3891,3891,3891,3891,3891,3891,...,3891,3891,3891,3891,86,3891,3891,3891,3891,3891
1990,3620,3620,3620,3620,3620,3620,3620,3620,3620,3620,...,3620,3620,3620,3620,101,3620,3620,3620,3620,3620
1991,4481,4481,4481,4481,4481,4481,4481,4481,4481,4481,...,4481,4481,4481,4481,119,4481,4481,4481,4481,4481
1992,4424,4424,4424,4424,4424,4424,4424,4424,4424,4424,...,4424,4424,4424,4424,137,4424,4424,4424,4424,4424
1993,4058,4058,4058,4058,4058,4058,4058,4058,4058,4058,...,4058,4058,4058,4058,119,4058,4058,4058,4058,4058
1994,4209,4209,4209,4209,4209,4209,4209,4209,4209,4209,...,4209,4209,4209,4209,130,4209,4209,4209,4209,4209
1995,3559,3559,3559,3559,3559,3559,3559,3559,3559,3559,...,3559,3559,3559,3559,81,3559,3559,3559,3559,3559
1996,3244,3244,3244,3244,3244,3244,3244,3244,3244,3244,...,3244,3244,3244,3244,107,3244,3244,3244,3244,3244
1997,3150,3150,3150,3150,3150,3150,3150,3150,3150,3150,...,3150,3150,3150,3150,88,3150,3150,3150,3150,3150
1998,2869,2869,2869,2869,2869,2869,2869,2869,2869,2869,...,2869,2869,2869,2869,92,2869,2869,2869,2869,2869
1999,2903,2903,2903,2903,2903,2903,2903,2903,2903,2903,...,2903,2903,2903,2903,72,2903,2903,2903,2903,2903
2000,2812,2812,2812,2812,2812,2812,2812,2812,2812,2812,...,2812,2812,2812,2812,76,2812,2812,2812,2812,2812
2001,3097,3097,3097,3097,3097,3097,3097,3097,3097,3097,...,3097,3097,3097,3097,87,3097,3097,3097,3097,3097
2002,3018,3018,3018,3018,3018,3018,3018,3018,3018,3018,...,3018,3018,3018,3018,75,3018,3018,3018,3018,3018
2003,2933,2933,2933,2933,2933,2933,2933,2933,2933,2933,...,2933,2933,2933,2933,105,2933,2933,2933,2933,2933
2004,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,...,2785,2785,2785,2785,72,2785,2785,2785,2785,2785
2005,2994,2994,2994,2994,2994,2994,2994,2994,2994,2994,...,2994,2994,2994,2994,65,2994,2994,2994,2994,2994
2006,3010,3010,3010,3010,3010,3010,3010,3010,3010,3010,...,3010,3010,3010,3010,79,3010,3010,3010,3010,3010
2007,2945,2945,2945,2945,2945,2945,2945,2945,2945,2945,...,2945,2945,2945,2945,104,2945,2945,2945,2945,2945
2008,2820,2820,2820,2820,2820,2820,2820,2820,2820,2820,...,2820,2820,2820,2820,0,2820,2820,2820,2820,2820
2009,2899,2899,2899,2899,2899,2899,2899,2899,2899,2899,...,2899,2899,2899,2899,107,2899,2899,2899,2899,2899
2010,2817,2817,2817,2817,2817,2817,2817,2817,2817,2817,...,2817,2817,2817,2817,119,2817,2817,2817,2817,2817
2011,2883,2883,2883,2883,2883,2883,2883,2883,2883,2883,...,2883,2883,2883,2883,144,2883,2883,2883,2883,2883
2012,3014,3014,3014,3014,3014,3014,3014,3014,3014,3014,...,3014,3014,3014,3014,118,3014,3014,3014,3014,3014
2013,2914,2914,2914,2914,2914,2914,2914,2914,2914,2914,...,2914,2914,2914,2914,123,2914,2914,2914,2914,2914
2014,2815,2815,2815,2815,2815,2815,2815,2815,2815,2815,...,2815,2815,2815,2815,145,2815,2815,2815,2815,2815
2015,3201,3201,3201,3201,3201,3201,3201,3201,3201,3201,...,3201,3201,3201,3201,124,3201,3201,3201,3201,3201
2016,3905,3905,3905,3905,3905,3905,3905,3905,3905,3905,...,3905,3905,3905,3905,135,3905,3905,3905,3905,3905
2017,3833,3833,3833,3833,3833,3833,3833,3833,3833,3833,...,3833,3833,3833,3833,146,3833,3833,3833,3833,3833

In [8]:
# Eric End

In [9]:
# Bimi Start

In [10]:
midwest_homicide_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145080 entries, 0 to 145079
Data columns (total 33 columns):
index           145080 non-null int64
ID              145080 non-null object
CNTYFIPS        145080 non-null object
Ori             145080 non-null object
State           145080 non-null object
Agency          145080 non-null object
Agentype        145080 non-null object
Source          145080 non-null object
Solved          145080 non-null object
Year            145080 non-null int64
StateName       145080 non-null object
Month           145080 non-null object
Incident        145080 non-null int64
ActionType      145080 non-null object
Homicide        145080 non-null object
Situation       145080 non-null object
VicAge          145080 non-null int64
VicSex          145080 non-null object
VicRace         145080 non-null object
VicEthnic       145080 non-null object
OffAge          145080 non-null int64
OffSex          145080 non-null object
OffRace         145080 non-null object
OffEthnic       145080 non-null object
Weapon          145080 non-null object
Relationship    145080 non-null object
Circumstance    145080 non-null object
Subcircum       5001 non-null object
VicCount        145080 non-null int64
OffCount        145080 non-null int64
FileDate        145080 non-null float64
fstate          145080 non-null object
MSA             145080 non-null object
dtypes: float64(1), int64(7), object(25)
memory usage: 36.5+ MB

In [11]:
# Offender count by gender
print('Male offender count is:',midwest_homicide_df['OffSex'].value_counts()['Male'])
print('Female offender count is:',midwest_homicide_df['OffSex'].value_counts()['Female'])
print('Unknown offender count is:',midwest_homicide_df['OffSex'].value_counts()['Unknown'])

Male offender count is: 87750
Female offender count is: 12146
Unknown offender count is: 45184

In [12]:
#Victim count by gender
print('Male victim count is:',midwest_homicide_df['VicSex'].value_counts()['Male'])
print('Female victim count is:',midwest_homicide_df['VicSex'].value_counts()['Female'])
print('Unknown victim count is:',midwest_homicide_df['VicSex'].value_counts()['Unknown'])

Male victim count is: 111465
Female victim count is: 33402
Unknown victim count is: 213

In [13]:
print('Homocide:', midwest_homicide_df[midwest_homicide_df.Homicide == 'Murder and non-negligent manslaughter'].ID.count())
print('Negligent manslaughter:', midwest_homicide_df[midwest_homicide_df.Homicide != 'Murder and non-negligent manslaughter'].ID.count())

Homocide: 143188
Negligent manslaughter: 1892

In [14]:
# Solved vs unsolved crime
print('Unsolved:', midwest_homicide_df[midwest_data.Solved == 'No'].ID.count())
print('Solved:', midwest_homicide_df[midwest_data.Solved == 'Yes'].ID.count())

NameError: name 'midwest_data' is not defined

In [ ]:
midwest_homicide_df.head()

In [ ]:

crimefile = []
for col in midwest_homicide_df.columns.values:
    if len(set(midwest_homicide_df[col])) < 50:
        print(col, set(midwest_homicide_df[col]))
        crimefile.append(col)
        
print(crimefile)

In [ ]:
# Bimi End

In [21]:
# Devin Start

In [24]:
# Devin End

In [25]:
# Matt Start

In [26]:
# Matt End