In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import os 

file = os.path.join('MidwestMurderData.csv')
csv = pd.read_csv(file)

In [ ]:
# Amber Start

In [ ]:
# Amber End

In [ ]:
# Eric Start

In [2]:
mmd_df = pd.DataFrame(csv)
mmd_df.head()

,ID,City,StateAbrv,Ori,State,Agency,Agentype,Source,Solved,Year,...,Relationship,Circumstance,Subcircum,VicCount,OffCount,FileDate,fstate,MSA,MSAState,Unnamed: 34
0,197601001IL00103,Adams,IL,IL00103,Illinois,Quincy,Municipal police,FBI,Yes,1976,...,Friend,Brawl due to influence of alcohol,NaN,0,1,30180,Illinois,Rural Illinois,NaN,NaN
1,197601001IL01000,Champaign,IL,IL01000,Illinois,Champaign County,Sheriff,FBI,No,1976,...,Relationship not determined,Narcotic drug laws,NaN,0,0,30180,Illinois,Champaign-Urbana,IL,NaN
2,197601001IL01600,Cook,IL,IL01600,Illinois,Cook County,Sheriff,FBI,Yes,1976,...,Stranger,Robbery,NaN,0,1,30180,Illinois,Chicago-Naperville-Joliet,IL-IN-WI,NaN
3,197601001IL01619,Cook,IL,IL01619,Illinois,Chicago Heights,Municipal police,FBI,Yes,1976,...,Acquaintance,Other arguments,NaN,0,0,30180,Illinois,Chicago-Naperville-Joliet,IL-IN-WI,NaN
4,197601001IL01621,Cook,IL,IL01621,Illinois,Cicero,Municipal police,FBI,Yes,1976,...,Other - known to victim,Other arguments,NaN,0,0,30180,Illinois,Chicago-Naperville-Joliet,IL-IN-WI,NaN

In [4]:
mg = mmd_df.groupby(['Year']).count()
mg

,ID,City,StateAbrv,Ori,State,Agency,Agentype,Source,Solved,StateName,...,Relationship,Circumstance,Subcircum,VicCount,OffCount,FileDate,fstate,MSA,MSAState,Unnamed: 34
Year,,,,,,,,,,,,,,,,,,,,,
1976,4209,4209,4209,4209,4209,4209,4209,4209,4209,4209,...,4209,4209,243,4209,4209,4209,4209,4209,3883,0
1977,4081,4081,4081,4081,4081,4081,4081,4081,4081,4081,...,4081,4081,185,4081,4081,4081,4081,4081,3784,0
1978,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019,...,4019,4019,147,4019,4019,4019,4019,4019,3722,0
1979,4567,4567,4567,4567,4567,4567,4567,4567,4567,4567,...,4567,4567,246,4567,4567,4567,4567,4567,4215,0
1980,4670,4670,4670,4670,4670,4670,4670,4670,4670,4670,...,4670,4670,243,4670,4670,4670,4670,4670,4309,0
1981,4353,4353,4353,4353,4353,4353,4353,4353,4353,4353,...,4353,4353,215,4353,4353,4353,4353,4353,4026,0
1982,4000,4000,4000,4000,4000,4000,4000,4000,4000,4000,...,4000,4000,189,4000,4000,4000,4000,4000,3671,0
1983,3765,3765,3765,3765,3765,3765,3765,3765,3765,3765,...,3765,3765,141,3765,3765,3765,3765,3765,3472,0
1984,2750,2750,2750,2750,2750,2750,2750,2750,2750,2750,...,2750,2750,79,2750,2750,2750,2750,2750,2482,0
1985,2986,2986,2986,2986,2986,2986,2986,2986,2986,2986,...,2986,2986,94,2986,2986,2986,2986,2986,2688,0
1986,3658,3658,3658,3658,3658,3658,3658,3658,3658,3658,...,3658,3658,101,3658,3658,3658,3658,3658,3402,0
1987,3178,3178,3178,3178,3178,3178,3178,3178,3178,3178,...,3178,3178,70,3178,3178,3178,3178,3178,2884,0
1988,3741,3741,3741,3741,3741,3741,3741,3741,3741,3741,...,3741,3741,92,3741,3741,3741,3741,3741,3479,0
1989,3891,3891,3891,3891,3891,3891,3891,3891,3891,3891,...,3891,3891,86,3891,3891,3891,3891,3891,3623,0
1990,3620,3620,3620,3620,3620,3620,3620,3620,3620,3620,...,3620,3620,101,3620,3620,3620,3620,3620,3342,0
1991,4481,4481,4481,4481,4481,4481,4481,4481,4481,4481,...,4481,4481,119,4481,4481,4481,4481,4481,4227,0
1992,4424,4424,4424,4424,4424,4424,4424,4424,4424,4424,...,4424,4424,137,4424,4424,4424,4424,4424,4140,0
1993,4058,4058,4058,4058,4058,4058,4058,4058,4058,4058,...,4058,4058,119,4058,4058,4058,4058,4058,3834,0
1994,4209,4209,4209,4209,4209,4209,4209,4209,4209,4209,...,4209,4209,130,4209,4209,4209,4209,4209,3965,0
1995,3559,3559,3559,3559,3559,3559,3559,3559,3559,3559,...,3559,3559,81,3559,3559,3559,3559,3559,3341,0
1996,3244,3244,3244,3244,3244,3244,3244,3244,3244,3244,...,3244,3244,107,3244,3244,3244,3244,3244,3036,0
1997,3150,3150,3150,3150,3150,3150,3150,3150,3150,3150,...,3150,3150,88,3150,3150,3150,3150,3150,2960,0
1998,2869,2869,2869,2869,2869,2869,2869,2869,2869,2869,...,2869,2869,92,2869,2869,2869,2869,2869,2697,0
1999,2903,2903,2903,2903,2903,2903,2903,2903,2903,2903,...,2903,2903,72,2903,2903,2903,2903,2903,2705,0
2000,2812,2812,2812,2812,2812,2812,2812,2812,2812,2812,...,2812,2812,76,2812,2812,2812,2812,2812,2595,0
2001,3097,3097,3097,3097,3097,3097,3097,3097,3097,3097,...,3097,3097,87,3097,3097,3097,3097,3097,2846,0
2002,3018,3018,3018,3018,3018,3018,3018,3018,3018,3018,...,3018,3018,75,3018,3018,3018,3018,3018,2778,0
2003,2933,2933,2933,2933,2933,2933,2933,2933,2933,2933,...,2933,2933,105,2933,2933,2933,2933,2933,2671,0
2004,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,...,2785,2785,72,2785,2785,2785,2785,2785,2521,0
2005,2994,2994,2994,2994,2994,2994,2994,2994,2994,2994,...,2994,2994,65,2994,2994,2994,2994,2994,2732,0
2006,3010,3010,3010,3010,3010,3010,3010,3010,3010,3010,...,3010,3010,79,3010,3010,3010,3010,3010,2780,0
2007,2945,2945,2945,2945,2945,2945,2945,2945,2945,2945,...,2945,2945,104,2945,2945,2945,2945,2945,2707,0
2008,2820,2820,2820,2820,2820,2820,2820,2820,2820,2820,...,2820,2820,0,2820,2820,2820,2820,2820,2582,0
2009,2899,2899,2899,2899,2899,2899,2899,2899,2899,2899,...,2899,2899,107,2899,2899,2899,2899,2899,2645,0
2010,2817,2817,2817,2817,2817,2817,2817,2817,2817,2817,...,2817,2817,119,2817,2817,2817,2817,2817,2577,0
2011,2883,2883,2883,2883,2883,2883,2883,2883,2883,2883,...,2883,2883,144,2883,2883,2883,2883,2883,2611,0
2012,3014,3014,3014,3014,3014,3014,3014,3014,3014,3014,...,3014,3014,118,3014,3014,3014,3014,3014,2770,0
2013,2914,2914,2914,2914,2914,2914,2914,2914,2914,2914,...,2914,2914,123,2914,2914,2914,2914,2914,2645,0
2014,2815,2815,2815,2815,2815,2815,2815,2815,2815,2815,...,2815,2815,145,2815,2815,2815,2815,2815,2570,0
2015,3201,3201,3201,3201,3201,3201,3201,3201,3201,3201,...,3201,3201,124,3201,3201,3201,3201,3201,2862,0
2016,3905,3905,3905,3905,3905,3905,3905,3905,3905,3905,...,3905,3905,135,3905,3905,3905,3905,3905,3567,0
2017,3833,3833,3833,3833,3833,3833,3833,3833,3833,3833,...,3833,3833,146,3833,3833,3833,3833,3833,3504,0

In [ ]:
# Eric End

In [ ]:
# Bimi Start

In [ ]:
# Bimi End

In [ ]:
# Devin Start

In [ ]:
# Devin End

In [ ]:
# Matt Start

In [ ]:
# Matt End