In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
vcraw = pd.read_csv('UCR76_17a.csv')
vcraw.head(20)

        ORI       Name  YEAR  MRD  CLR   State         County     Agency
0   AK00101  ANCHORAGE  1965    7    6  Alaska  Anchorage, AK  Anchorage
1   AK00101  ANCHORAGE  1966   18   16  Alaska  Anchorage, AK  Anchorage
2   AK00101  ANCHORAGE  1967    1    1  Alaska  Anchorage, AK  Anchorage
3   AK00101  ANCHORAGE  1968    7    5  Alaska  Anchorage, AK  Anchorage
4   AK00101  ANCHORAGE  1969    7    4  Alaska  Anchorage, AK  Anchorage
5   AK00101  ANCHORAGE  1970    7    6  Alaska  Anchorage, AK  Anchorage
6   AK00101  ANCHORAGE  1971    4    4  Alaska  Anchorage, AK  Anchorage
7   AK00101  ANCHORAGE  1972    9    4  Alaska  Anchorage, AK  Anchorage
8   AK00101  ANCHORAGE  1973    6    6  Alaska  Anchorage, AK  Anchorage
9   AK00101  ANCHORAGE  1974   11   11  Alaska  Anchorage, AK  Anchorage
10  AK00101  ANCHORAGE  1975    7    7  Alaska  Anchorage, AK  Anchorage
11  AK00101  ANCHORAGE  1976   15    5  Alaska  Anchorage, AK  Anchorage
12  AK00101  ANCHORAGE  1977   13    7  Alaska  Anchorage, AK  Anchorage
13  AK00101  ANCHORAGE  1978   16   13  Alaska  Anchorage, AK  Anchorage
14  AK00101  ANCHORAGE  1979   16    9  Alaska  Anchorage, AK  Anchorage
15  AK00101  ANCHORAGE  1980   15    8  Alaska  Anchorage, AK  Anchorage
16  AK00101  ANCHORAGE  1981   18   13  Alaska  Anchorage, AK  Anchorage
17  AK00101  ANCHORAGE  1982   22   11  Alaska  Anchorage, AK  Anchorage
18  AK00101  ANCHORAGE  1983   16   12  Alaska  Anchorage, AK  Anchorage
19  AK00101  ANCHORAGE  1984   16   14  Alaska  Anchorage, AK  Anchorage

In [5]:
midwest = ['Illinois', 'Indiana', 'Missouri', 'Minnesota', 'Iowa', 'Michigan', 'Wisconsin', 'Kansas', 'Nebraska', 'Ohio', 'South Dakota', 'North Dakota']
midwest_vc = vcraw.isin(midwest)
midwest_vc.head(30)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: State, dtype: bool